<div class="customer-form">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label
            [nzSm]="6"
            [nzXs]="24"
            nzFor="name"
            nzRequired
          >
            <span>Name</span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
            <input nz-input id="name" formControlName="name" placeholder="Name" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            [nzValidateStatus]="validateForm.controls['phoneNumber']"
            nzErrorTip="Please input your phone number!"
          >
            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
              <ng-template #addOnBeforeTemplate>
                <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                  <nz-option nzLabel="+91" nzValue="+91"></nz-option>
                </nz-select>
              </ng-template>
              <input formControlName="phoneNumber" id="'phoneNumber'" nz-input [maxlength]="10" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address" nzRequired>Address</nz-form-label>
            <nz-form-control
                [nzSm]="14"
                [nzXs]="24"
                [nzValidateStatus]="validateForm.controls['address']"
                nzErrorTip="Please input your address!"
            >
            <nz-input-group [nzSuffix]="textAreaClearTpl" class="ant-input-affix-wrapper-textarea-with-clear-btn">
                <textarea nz-input formControlName="address" placeholder="Address"></textarea>
              </nz-input-group>
              <ng-template #textAreaClearTpl>
                <span
                  nz-icon
                  class="ant-input-clear-icon"
                  nzTheme="fill"
                  nzType="close-circle"
                  *ngIf="validateForm.controls['address'].value"
                  (click)="clearfield('address')"
                ></span>
              </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="notes" nzRequired>Notes</nz-form-label>
            <nz-form-control
                [nzSm]="14"
                [nzXs]="24"
                [nzValidateStatus]="validateForm.controls['notes']"
                nzErrorTip="Please input your notes!"
            >
            <nz-input-group [nzSuffix]="textAreaClearNotes" class="ant-input-affix-wrapper-textarea-with-clear-btn">
                <textarea nz-input formControlName="notes" placeholder="Notes"></textarea>
              </nz-input-group>
              <ng-template #textAreaClearNotes>
                <span
                  nz-icon
                  class="ant-input-clear-icon"
                  nzTheme="fill"
                  nzType="close-circle"
                  *ngIf="validateForm.controls['notes'].value"
                  (click)="clearfield('notes')"
                ></span>
              </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Submit</button>
          </nz-form-control>
        </nz-form-item>
      </form>
</div>