.logo {
    width: 100%;
      /* height: 31px; */
      background: transparent;
      /* margin: 16px 28px 16px 0; */
      float: left;
      /* text-align: center; */
      color: white;
  }
  
  .header-menu {
    line-height: 64px;
  }
  
  .outer-content {
    padding: 0 50px;
  }
  
  nz-breadcrumb {
    margin: 16px 0;
  }
  
  .inner-layout {
    padding: 24px 0;
    /* background: transparent; */
  }
  
  .sider-menu {
    height: 100%;
  }
  
  .inner-content {
    padding: 0 24px;
    min-height: 280px;
  }
  
  nz-footer {
    text-align: center;
    position: absolute;
      width: 100%;
      bottom: 0px;
      right: 0px;
  }
  
  a.logout {
    float: right !important;
    color: #ffffff !important;
  }

  .welcome-page-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 20px;
  }