<div>
    <div nz-row>
        <div nz-col nzSpan="8"></div>
        <div nz-col nzSpan="8" class="login-card">
            <div class="text-center">
                <img src="../../../assets/images/SST.jpg" alt="Sri Sainath Traders" class="img-logo-login" />
            </div>
            <div class="text-center">
                <h2>Reset Password</h2>
            </div>
            <form nz-form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()" class="login-form">
                <nz-form-item>
                    <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Username required">
                        <input nz-input type="text" id="username" formControlName="username" placeholder="Username" autocomplete="off" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="New password required and should be minimum 8 characters">
                        <input nz-input type="password" id="new_pwd" formControlName="new_password" placeholder="New Password" minlength="8" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Confirm password required">
                        <input nz-input type="password" id="confirm_pwd" formControlName="confirm_password" placeholder="Confirm Password" minlength="8" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row class="register">
                    <nz-form-control [nzSpan]="22" [nzOffset]="3">
                      <button nz-button nzType="primary" [disabled]="!forgotPasswordForm.valid">Reset Password</button>
                    </nz-form-control>
                  </nz-form-item>
            </form>
            <div style="text-align: center;">
                <h3>Already have an account ?</h3>
                <a class="forgot-password" nz-button nzType="link" (click)="loginPage()">Sign in</a>
            </div>
        </div>
        <div nz-col nzSpan="8"></div>
    </div>
</div>