/* [nz-form] {
    max-width: 600px;
  } */

  nz-form-item.ant-form-item {
    transition: none;
    width: 100%;
}

.login-form {
    margin-top: 25px;
    margin-left: 25%;
}


nz-form-item.ant-form-item,.register-area {
    transition: none;
    width: 100%;
}

.img-logo-login {
    width: 150px;
    height: auto;
}

.login-card {
    border-radius: 8px;
    margin-top: 7.5%;
    background-color: #fff;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
}

.forgot-password:hover {
    border: 1px solid #1890ff;
}

.text-center {
    text-align: center;
}
