<div class="customer-form">
    <div nz-row>
        <div nz-col nzSpan="24">
            <h2 class="text-center">Users</h2>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="userFullName" nzRequired>
                        <span>Name</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
                        <input nz-input id="userFullName" formControlName="name" placeholder="Name" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item *ngIf="!edit">
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="userName" nzRequired>
                        <span>Username</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your username!">
                        <input nz-input type="text" id="userName" formControlName="username" placeholder="Username" [disabled]="true" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item *ngIf="!edit">
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>
                        <span>Password</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
                        <input nz-input type="password" id="password" [disabled]="true" formControlName="password" placeholder="Password" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">
                        <span>E-mail</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your email!">
                        <input nz-input type="email" id="email" formControlName="email" placeholder="E-mail" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">Phone Number</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']"
                        nzErrorTip="Please input your phone number!">
                        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                            <ng-template #addOnBeforeTemplate>
                                <nz-select nzShowSearch nzAllowClear nzDisabled formControlName="phoneNumberPrefix" class="phone-select">
                                    <nz-option nzLabel="+91" nzValue="+91"></nz-option>
                                </nz-select>
                            </ng-template>
                            <input formControlName="phoneNumber" id="'phoneNumber'" nz-input [maxlength]="10" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address">Address</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['address']"
                        nzErrorTip="Please input your address!">
                        <nz-input-group [nzSuffix]="textAreaClearTpl"
                            class="ant-input-affix-wrapper-textarea-with-clear-btn">
                            <textarea nz-input formControlName="address" placeholder="Address"></textarea>
                        </nz-input-group>
                        <ng-template #textAreaClearTpl>
                            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                                *ngIf="validateForm.controls['address'].value" (click)="clearfield('address')"></span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="notes">Notes</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['notes']"
                        nzErrorTip="Please input your notes!">
                        <nz-input-group [nzSuffix]="textAreaClearNotes"
                            class="ant-input-affix-wrapper-textarea-with-clear-btn">
                            <textarea nz-input formControlName="notes" placeholder="Notes"></textarea>
                        </nz-input-group>
                        <ng-template #textAreaClearNotes>
                            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                                *ngIf="validateForm.controls['notes'].value" (click)="clearfield('notes')"></span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row class="register-area">
                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                        <button nz-button nzType="primary">{{edit ? 'Update' : 'Create'}}</button>&nbsp;
                        <button nz-button nzType="default" (click)="reset()">Reset</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
        <div nz-col nzSpan="12">
            <div>
                <a (click)="exportToExcel()" nz-tooltip nzTooltipTitle="Export as Excel"><span nz-icon nzType="file-excel" nzTheme="fill"></span></a>
            </div>
            <nz-table *ngIf="usersData" #basicTable [nzData]="usersData" [nzLoading]="loading" [nzShowPagination]="false">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Notes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of usersData">
                        <td>{{ data.name }}</td>
                        <td>{{ data.phone_number }}</td>
                        <td>{{ data.email }}</td>
                        <td>{{ data.address }}</td>
                        <td>{{ data.notes }}</td>
                        <td>
                            <a (click)="editUser(data)"><span nz-icon nzType="edit" nzTheme="fill"></span></a>&nbsp;&nbsp;
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this User" nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(data._id)" (nzOnCancel)="cancel()">
                                <span nz-icon nzType="delete" nzTheme="fill"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <div class="text-right">
                <br />
                <nz-pagination [nzPageIndex]="index" [nzTotal]="total" [nzShowSizeChanger]="true" [nzPageSize]="pageSize" (nzPageIndexChange)="onPageChange($event)" (nzPageSizeChange)="onPageSizeChange($event)"></nz-pagination>
                <br />
            </div>
        </div>
    </div>
</div>