[nz-form] {
    max-width: 600px;
  }

  .phone-select {
    width: 70px;
  }

  .register-are {
    margin-bottom: 8px;
  }

.customer-form {
    margin-top: 20px;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.reason_type_custom {
  width: 100%;
  margin-left: 10%;
}