<div class="customer-form">
    <div nz-row class="page-header1">
        <div nz-col nzSpan="24">
            <h2 class="text-center">Day-wise Bills</h2>
        </div>
    </div>
    <div nz-row class="page-header2">
        <div nz-col nzSpan="24">
            <form nz-form [formGroup]="dayCollectionForm" (ngSubmit)="submitForm()" appFocus>
                <div nz-row>
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Date</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24">
                                <nz-date-picker formControlName="date" [(ngModel)]="date"
                                    (ngModelChange)="onChange($event)" [nzAllowClear]="false"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-form-item nz-row class="register-area">
                            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                                <button nz-button nzType="primary">Submit</button>&nbsp;
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="24">
            <a (click)="downloadPDF()" class="align-right margin-right25"
                *ngIf="dayBillsList && dayBillsList.length > 0"><span nz-icon nzType="file-pdf"
                    nzTheme="fill"></span></a>
            <a (click)="printTable()" class="align-right margin-right10"
                *ngIf="dayBillsList && dayBillsList.length > 0"><span nz-icon nzType="printer"
                    nzTheme="fill"></span></a>
            <div #dayBillTable class="print-container">
                <div nz-row *ngIf="dayBillsList && dayBillsList.length > 0" [nzGutter]="16">
                    <div nz-col nzSpan="12">
                        <table style="width: 100%;" *ngIf="dayBillsList1 && dayBillsList1.length > 0">
                            <tr style="text-align: left;">
                                <th>Customer Name</th>
                                <th>Today Bill</th>
                                <th>Balance</th>
                                <th style="width: 100px;">Paid</th>
                            </tr>
                            <tr *ngFor="let data of dayBillsList1" style="text-align: left;">
                                <td>{{ data.name }}</td>
                                <td>{{ data.bill_amount | number: '1.2-2' }}</td>
                                <td>{{ data.balance_amount | number: '1.2-2' }}</td>
                                <td style="width: 100px;"></td>
                            </tr>
                        </table>
                    </div>
                    <div nz-col nzSpan="12" *ngIf="dayBillsList2 && dayBillsList2.length > 0">
                        <table style="width: 100%;">
                            <tr style="text-align: left;">
                                <th>Customer Name</th>
                                <th>Today Bill</th>
                                <th>Balance</th>
                                <th style="width: 100px;">Paid</th>
                            </tr>
                            <tr *ngFor="let data2 of dayBillsList2" style="text-align: left;">
                                <td>{{ data2.name }}</td>
                                <td>{{ data2.bill_amount }}</td>
                                <td>{{ data2.balance_amount }}</td>
                                <td style="width: 100px;"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <h3 class="text-center" *ngIf="dayBillsList && dayBillsList.length === 0">No Bills</h3>
            </div>
            <div class="text-right">
                <br />
                <nz-pagination [nzPageIndex]="index" [nzTotal]="total" [nzShowSizeChanger]="true"
                    [nzPageSize]="pageSize" (nzPageIndexChange)="onPageChange($event)"
                    (nzPageSizeChange)="onPageSizeChange($event)"></nz-pagination>
                <br />
            </div>
        </div>
    </div>

</div>