/* [nz-form] {
    max-width: 600px;
  } */

  .margin-right10 {
    margin-right: 10px;
  }

  .margin-right20 {
    margin-right: 20px;
  }

  .margin-right25 {
    margin-right: 25px;
  }

  .phone-select {
    width: 70px;
  }

  .register-are {
    margin-bottom: 8px;
  }

.customer-form {
    margin-top: 20px;
}

nz-date-picker {
  margin: 0 8px 12px 0;
}

input[type=number] {
  border: 1px solid #d9d9d9 !important;
}

input[type=number]:focus {
  border: 1px solid #40a9ff !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
text-align: right !important;
}

.print-container {
  padding: 25px;
}

table
th {
  border:1px solid #000;
  padding: 5px;
  background-color: lightgray;
  font-size: 12px;
}
td {
  border:1px solid #000;
  padding: 5px;
  font-size: 12px;
}

.align-right {
  float: right;
}

@page {
  size: A4;
  margin: 5mm 5mm 5mm -8mm;
}

@media print {

  body * {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .print-container, .print-container * {
    visibility: visible;
  }

  .page-header1, .page-header2 {
    display: none;
  }

  button {
    display: none;
  }

  .ant-menu {
    display: none;
  }

  a {
    display: none;
  }
}