<h2>Statement</h2>
<div class="date-picker">
    <div nz-row class="date-selection">
        <div nz-col nzSpan="6">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Date</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
        <!-- <div nz-col nzSpan="6">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Date</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker [(ngModel)]="to_date" (ngModelChange)="onChange($event)"
                        [nzAllowClear]="false"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div> -->
        <div nz-col nzSpan="6">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>
                    <span>Customer</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select nzShowSearch nzAllowClear [nzAutoFocus]="true" [(ngModel)]="selectedCustomer"
                        (ngModelChange)="onCustomerSelect($event)">
                        <nz-option *ngFor="let c of customersData;index as CI;" [nzLabel]="c.name" [nzValue]="c"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary" (click)="getStatement()" [disabled]="selectedCustomer == null || date == null">Submit</button>&nbsp;
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <h3 style="text-align: center;" *ngIf="statement && statement.length === 0">No Records</h3>
    <h4 *ngIf="statement && statement.length > 0">Sri Sainath Traders <span class="float-right">Date: {{todayDate}}</span></h4>
    <h5 *ngIf="statement && statement.length > 0">{{selectedCustomer.name}}</h5>
    <table style="width: 100%;" *ngIf="statement && statement.length > 0">
        <tr style="text-align: left;">
            <th class="text-center">Date</th>
            <th class="text-center">Items</th>
            <th class="text-center">Bill Amount</th>
            <th class="text-center">Collected Amount</th>
            <th class="text-center">Balance</th>
        </tr>
        <tr>
            <td colspan="3" class="border-line padding-10 text-center">Opening Balance</td>
            <td colspan="2" class="border-line padding-10">{{open_balance | number: '1.2-2'}}</td>
        </tr>
        <tr *ngFor="let data of statement" style="text-align: left;">
            <td class="border-line padding-10">{{ data.bill_date }}</td>
            <td class="border-line padding-10" *ngIf="data.items">
                <tr *ngFor="let item of data.items;">
                    <td class="padding-5">{{item.vegetable_name}}</td>
                    <td class="padding-5">{{item.quantity}}</td>
                    <td class="padding-5">{{item.rate}}/-</td>
                    <td class="padding-5 text-right padding-r5">{{item.total_amount | number: '1.2-2'}}</td>
                </tr>
            </td>
            <td class="border-line padding-10 padding-l5" *ngIf="data.type">{{data.type | titlecase}}</td>
            <td class="border-line padding-10" *ngIf="data.bill_amount > 0">{{data.bill_amount | number: '1.2-2'}}</td>
            <td class="border-line padding-10" *ngIf="!data.bill_amount"></td>
            <td class="border-line padding-10" *ngIf="data.collected_amount">{{data.collected_amount | number: '1.2-2'}}</td>
            <td class="border-line padding-10" *ngIf="!data.collected_amount"></td>
            <td class="border-line padding-10" *ngIf="data.items">
                <tr *ngFor="let it of data.items;index as IT;">
                    <td *ngIf="it.balance_amount && (IT === data.items.length - 1)">{{it.balance_amount | number: '1.2-2'}}</td>
                </tr>
            </td>
            <td class="border-line padding-10" *ngIf="!data.items">{{data.customer_balance | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <td colspan="2" class="border-line padding-10 text-center">Total</td>
            <td class="border-line padding-10">{{total_bill_amount | number: '1.2-2'}}</td>
            <td colspan="2" class="border-line padding-10">{{total_collected_amount | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <td colspan="3" class="border-line padding-10 text-center">Balance</td>
            <td colspan="2" class="border-line padding-10">{{total_balance | number: '1.2-2'}}</td>
        </tr>
    </table>
    
</div>