<h2 class="header-print">Bill Print</h2>
<button (click)="maxRecordsCount(finalArray)">check max</button>
<div class="date-picker">
    <br />
<nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)" [nzAllowClear]="false"></nz-date-picker>
<br />
</div>
<body>
    <div class="container">
        <div class="bill" *ngFor="let print of finalArray;">
    
            <table style="width: 100%;">
                <tr>
                    <td class="text-center" colspan="5"><span class="shop-title">Sri Sainath Traders</span> (9640443322)
                    </td>
                </tr>
                <tr>
                    <td colspan="4">{{print.customer_name}}</td>
                    <td style="text-align: right;">
                        <span>{{day === 0 ? 'Sun,' : (day === 1 ? 'Mon,' : (day === 2 ? 'Tue,' : (day === 3 ? 'Wed,' : (day
                            === 4 ? 'Thu,' : (day === 5 ? 'Fri,' : (day === 6 ? 'Sat,' : ''))))))}}</span> {{date | date: 'dd-MM-yyyy'}}
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="width: 100%;">
                        <hr style="border: 1px dashed #000;" />
                    </td>
                </tr>
                <tr *ngFor="let bill of print.records;">
                    <td class="upper-case">{{bill.vegetable_name}}</td>
                    <td class="upper-case">{{bill.notes}}</td>
                    <td>{{bill.quantity}}</td>
                    <td class="number">{{bill.rate}}</td>
                    <td class="number">{{bill.total_amount}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <hr style="border: 1px dashed #000;" />
                    </td>
                </tr>
                <tr>
                    <td style="text-decoration: underline;">Last 2 Collections</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="number">{{print.total_amount}}</td>
                </tr>
                <tr *ngFor="let collection of print.collections;">
                    <td>{{collection.collection_date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{collection.amount}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <hr style="border: 1px dashed #000;" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="number">{{print.balance}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <hr style="border: 1px dashed #000;" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="number">{{print.total_amount}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
