/* You can add global styles to this file, and also import other style files */
/* @import "~ng-zorro-antd/ng-zorro-antd.min.css"; */
.text-center {
    text-align: center !important;
}

.padding-15 {
    padding: 15px !important;
}

.border-radius-10 {
    border-radius: 10px !important;
}

.text-right {
    text-align: right !important;
}

.float-right {
    float: right;
}