[nz-form] {
    max-width: 600px;
  }

  .phone-select {
    width: 70px;
  }

  .register-are {
    margin-bottom: 8px;
  }

.customer-form {
    margin-top: 20px;
}

nz-date-picker {
  margin: 0 8px 12px 0;
}

input[type=number] {
  border: 1px solid #d9d9d9 !important;
}

input[type=number]:focus {
  border: 1px solid #40a9ff !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
text-align: right !important;
}

::ng-deep .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: green;
  color: #ffffff;
}

::ng-deep .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: green;
  color: #ffffff;
}
